.footer {
    font-family:'EB Garamond', serif;
    padding: 50px;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    background: linear-gradient(to left, #7ecaea, #e0f7ff);
    color: #09408c;
}
